extends layout
block body
	.navbar-wrapper
		.container
			+navbar("Hipster Clothing co.","dropdown_menu")
				+nav_item("/","active") Home
				+nav_item("/test") Items
				+nav_item("/auth/facebook") Login
				+nav_item_dropdown("#")(label="Dropdown")
					+nav_item("#") Action
					+nav_item("#") Another Action
					+nav_item("#") Something else here
    
	.container
		.col-md-4
			p.lead
				+list-group-links([
					{text:"Item 1",url:"/items/3"},
					{text:"Item 2",url:"/items/4"},
					{text:"Item 3",url:"/items/5"},],0)

		.col-md-8
			+carousel("myCarousel",[{image:"images/1.jpg",h1:"I don't believe in labels",p:"Hipster Clothing co"},
				{image:"images/2.jpg",h1:"Organic grass-fed caffè latte",p:"Hipster Clothing co"},
				{image:"images/3.jpg",h1:"I got this for $1 at an Opshop",p:"Hipster Clothing co"}])

		footer
			p.pull-right
				a(href='#') Back to top



