extends layout
block body
    .navbar-wrapper
        .container
            include searchheader



    .container
        .col-md-13
            +carousel("myCarousel",[
            {image:"images/1200x300/1.jpg",h1:"'Style'",p:"Hipster Clothing co"},
            {image:"images/1200x300/2.jpg",h1:"'Vogue'",p:"Hipster Clothing co"},
            {image:"images/1200x300/3.jpg",h1:"'Fashion'",p:"Hipster Clothing co"}
            ])


            .col-md-6#men
                h3 Men
                a(href='/men')
                    img(src='/images/mens1.jpg')
            .col-md-6#women
                h3 Women
                a(href='/women')
                    img(src='/images/womens1.jpg')

            .col-md-6#searchItems

    script
        | console.log("Hello");

    include footer

block scripts
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/home.js")



