extends layout
block body
	.navbar-wrapper
		.container
			include header

	.container
		.col-md-9
			hr.featurette-divider
			.row.featurette
				.col-md-5
					img.featurette-image.img-responsive.center-block(src='..'+item.image_path)
				.col-md-7
					h2.featurette-heading
						| #{item.name}. 
					h3 #{item.description}.
					h4 $ #{item.price}
					form#addtocart
						.form-group.col-md-3
							select.form-control#amount(name='amount')
								option 1
								option 2 
								option 3 
								option 4
								option 5
						.col-md-3
							button.btn.btn-default(type='submit') Add To Cart
					script var itemId = #{item.id}
			hr.featurette-divider
		
	include footer
block scripts
	script(src="/js/jquery.min.js")
	script(src="/js/bootstrap.min.js")
	script(src="/js/home.js")
	script(src="/js/items.js")


