extends layout
block body
	.navbar-wrapper
		.container
			include header

	.container
		.col-md-3
			p.lead Shop Name
				+list-group-links([
					{text:"Link 1",url:"/items/1"},
					{text:"Link 2",url:"/items/2"},
					{text:"Link 3",url:"/items/3"},],0)
		
		.col-md-9
			hr.featurette-divider
			.row.featurette
				.col-md-5
					img.featurette-image.img-responsive.center-block(src='..'+image_path)
				.col-md-7
					h2.featurette-heading
						| #{name}. 
					h3 #{description}.
					h4 $ #{price}
					+btn("Add To Cart")
			hr.featurette-divider
		
		include footer




