extends ../node_modules/pug-bootstrap/_bootstrap
block head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport",content="width=device-width, initial-scale=1")
	meta(name="description",content="")
	meta(name="author",content="")
	link(rel="icon",href="../../favicon.ico")
	link(rel="")
	title = title
	block styles
		link(rel="stylesheet",href="/css/bootstrap.min.css")
		link(rel="stylesheet",href="/css/style.css")
		link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Amatic+SC",type="text/css")
block body

